main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.party {
  text-align: center;
  font-size: 64px;
}

input {
  margin: 1px;
}

p {
  max-width: 600px;
}

span[role=img] {
  display: inline-block;
}